<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lits.garconapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Garçonete So de Cenoura</name>
    <description>
             App de uso das garçonetes do restaurante Só de Cenoura.
    </description>
    <author email="qualquer@lits.com" href="http://lits.com">
        Fernando Machado
    </author>
    <icon src="icon.png" />
    <splash src="splash.png" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0xF2F2F2FF" />
    <preference name="StatusBarBackgroundColor" value="#E86C13" />
    <access origin="http://cozinhapp.sergiolopes.org" />
    <engine name="browser" spec="^5.0.1" />
    <engine name="android" spec="^6.3.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-statusbar" spec="^2.3.0" />
    <plugin name="phonegap-plugin-barcodescanner" spec="^7.0.0" />
    <plugin name="cordova-plugin-vibration" spec="^2.1.6" />
</widget>
